In [1]:
import pandas as pd
import os
import LoadFinancials as lfin

In [2]:
folder_path=r"C:\Users\chris\Documents\pineapple ana sa\Ranisa\Indian_Retail_Analysis\01_data_raw\screener_data"
raw_files=[file for file in os.listdir(folder_path)]

In [3]:
statements=["profit & loss","balance sheet","cash flow:"]

In [4]:
financials=lfin.comp_indv_statements(raw_files,statements)

Financial Statements for Aditya Bir loading...
Financials Statements for Aditya Bir loaded.
Financial Statements for Avenue Super loading...
Financials Statements for Avenue Super loaded.
Financial Statements for Shoppers Stop loading...
Financials Statements for Shoppers Stop loaded.
Financial Statements for Trent loading...
Financials Statements for Trent loaded.
Financial Statements for V-Mart Retail loading...
Financials Statements for V-Mart Retail loaded.

In [5]:
financials=lfin.master_table(financials,statements)

In [7]:
financials[statements[0]]

           Company          Particulars Fiscal Year End    Value
0       Aditya Bir                Sales          Mar-19  8117.72
1       Aditya Bir    Raw Material Cost          Mar-19  4153.47
2       Aditya Bir  Change in Inventory          Mar-19    228.5
3       Aditya Bir       Power and Fuel          Mar-19   129.47
4       Aditya Bir       Other Mfr. Exp          Mar-19    237.8
..             ...                  ...             ...      ...
520  V-Mart Retail             Interest          Mar-25   136.46
521  V-Mart Retail    Profit before tax          Mar-25    43.96
522  V-Mart Retail                  Tax          Mar-25    -1.81
523  V-Mart Retail           Net profit          Mar-25    45.77
524  V-Mart Retail      Dividend Amount          Mar-25      NaN

[525 rows x 4 columns]